<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客后台首页</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/back.css" th:href="@{/css/back.css}">
</head>

<body class="bkg">
    <div class="container">
        <h1 style="text-align: center;">博客后台发表</h1>
        <form class="ui form" action="#" th:action="@{/admin/postBlog}">
            <div class="field">
                <label>标题</label>
                <input type="text" name="title" placeholder="标题">
            </div>
            <div class="field">
                <label>标签</label>
                <input type="text" name="type" placeholder="标签">
            </div>


            <div class="field" >
                <label>简介</label>
                <textarea rows="2" type="text" name="describe"></textarea>
            </div>
            <div class="field" >
                <label>博客内容</label>
                <textarea rows="80" type="text" name="content"></textarea>
            </div>

            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>推荐</label>
                </div>
            </div>
            <button class="ui button" type="submit">发表</button>
        </form>

    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.ui.checkbox')
        .checkbox();

    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'title',
                rules: [
                    {
                        type: 'empty'
                    }
                ]
            },
            describe: {
                identifier: 'describe',
                rules: [
                    {
                        type: 'empty'
                    }
                ]
            },
            type: {
                identifier: 'type',
                rules: [
                    {
                        type: 'empty'
                    }
                ]
            },
            content: {
                identifier: 'content', rules: [
                    {
                        type: 'empty'
                    }
                ]
            }
        }
    });
</script>

</html>