<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客首页</title>
    <link href="../static/images/icon.png" th:href="@{/images/icon.png}" rel="icon" type="image/x-ico">
    <script src="https://cdn.bootcss.com/wordcloud2.js/1.1.0/wordcloud2.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/css/index.css}">
    <!-- <script src="https://unpkg.com/vue@next"></script> -->


</head>

<body class="bkg" method="get" th:action="@{/index}">

    <div class="info">
        <div class="user">
            <img class="icon" th:src="${userInfo.avatar}">
            <div class="nickname" th:text="${userInfo.nickname}"></div>
            <div id="describe">邮箱:</div>

            <div class="joinTime" id="limitText" th:text="${userInfo.email}"></div>
            <div id="describe">更新时间:</div>

            <div class="updateTime" id="limitText" th:text="${userInfo.updateTime.toLocaleString()}"></div>
        </div>

        <div class="menu">
            <ul>
                <li><a><span class="active" id="firstPage" onclick="clickable(1)">首页</span></a></li>
                <li><a></a><span class="hidden" id="blog" onclick="clickable(2)"
                        th:text="'全部博客(' + ${blogCount} + ')'"></span></li>
                <li><a></a><span class="hidden" id="type" onclick="clickable(3)"
                        th:text="'分类(' + ${typeCount} + ')'"></span></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <div id="recommendPage" class="show">

                <div id="recommendBlog" th:each="blog : ${firstPageBlogList}">
                    <h2 style="text-align: center; font-size: 2rem;" th:text="${blog.title}">python 爬虫入门</h2>
                    <p class="introduction" th:text="${blog.description}">
                        看过《图解 http
                        》就应该会知道客户端在发起网络请求，服务器在收到请求以后，就会发送我们请求的一些数据，客户端接受以后，经过浏览器进行解析，最后可视化形成我们所浏览的网页的模样。其实所发送的所有数据都在我们的浏览器里，当我们不想机械地通过浏览器按照前端程序员所希望的模式去接收我们请求的数据时，我们就可以通过爬虫去定向的爬取我们所希望得到的数据。在互联网上的许许多多的服务器
                        24 小时运行着，时时刻刻等待着别人的请求，爬虫就是通过模拟请求，就好像在浏览器输入网址，通过一些 http 库向指定的服务器发起请求，这个时候爬虫可以假装自己是浏览器（通过添加一些
                        header ），大多是服务器就会直接返回数据给爬虫，当然一些大型的、涉及安全性的网站就会有很多反爬虫的机制，这个时候要爬数据就没那么简单了。
                    </p>
                    <div class="tag">
                        <img src="https://tva1.sinaimg.cn/large/008i3skNly1gx90ae8eymj305k05kq2u.jpg"></img>
                        <div class="author" th:text="${blog.nickname}">
                            charming
                        </div>
                        <img src="https://tva1.sinaimg.cn/large/008i3skNly1gx904psvbvj305k05kt8m.jpg"></img>
                        <div class="type" style="text-align: center;" th:text="${blog.typeName}">
                            test
                        </div>
                        <div class="time">
                            <img src="https://tva1.sinaimg.cn/large/008i3skNly1gx920k5n8aj305k05kt8l.jpg">
                            <div class="updateTime" style="text-align: center"
                                th:text="${blog.updateTime.toLocaleString()}">
                            </div>
                        </div>

                    </div>
                    <a class="btn" style="text-align: center; text-decoration: none;" href="#" th:href="@{/detail/{id}(id=${blog.id})}">阅读全文 》</a>
                    <hr>
                </div>
            </div>
            <div id="blogPage" class="unshow">
                <div>
                    <div id="recommendBlog" th:each="blog : ${blogTotal}">
                        <h2 style="text-align: center; font-size: 2rem;" th:text="${blog.title}">python 爬虫入门</h2>
                        <p class="introduction" th:text="${blog.description}">
                            看过《图解 http
                            》就应该会知道客户端在发起网络请求，服务器在收到请求以后，就会发送我们请求的一些数据，客户端接受以后，经过浏览器进行解析，最后可视化形成我们所浏览的网页的模样。其实所发送的所有数据都在我们的浏览器里，当我们不想机械地通过浏览器按照前端程序员所希望的模式去接收我们请求的数据时，我们就可以通过爬虫去定向的爬取我们所希望得到的数据。在互联网上的许许多多的服务器
                            24 小时运行着，时时刻刻等待着别人的请求，爬虫就是通过模拟请求，就好像在浏览器输入网址，通过一些 http 库向指定的服务器发起请求，这个时候爬虫可以假装自己是浏览器（通过添加一些
                            header ），大多是服务器就会直接返回数据给爬虫，当然一些大型的、涉及安全性的网站就会有很多反爬虫的机制，这个时候要爬数据就没那么简单了。
                        </p>
                        <div class="tag">
                            <img src="https://tva1.sinaimg.cn/large/008i3skNly1gx90ae8eymj305k05kq2u.jpg"></img>
                            <div class="author" th:text="${blog.nickname}">
                                charming
                            </div>
                            <img src="https://tva1.sinaimg.cn/large/008i3skNly1gx904psvbvj305k05kt8m.jpg"></img>
                            <div class="type" style="text-align: center;" th:text="${blog.typeName}">
                                test
                            </div>
                            <div class="time">
                                <img src="https://tva1.sinaimg.cn/large/008i3skNly1gx920k5n8aj305k05kt8l.jpg">
                                <div class="updateTime" style="text-align: center"
                                    th:text="${blog.updateTime.toLocaleString()}">
                                </div>
                            </div>
                        </div>
                        <a class="btn" style="text-align: center; text-decoration: none;" href="#" th:href="@{/detail/{id}(id=${blog.id})}">阅读全文 》</a>
                        <hr>
                    </div>
                </div>
            </div>
            <div id="typePage" class="unshow">
                <div style="text-align: center; font-size: 2rem;" class="wordCloud">分类词云</div>
                <div id="canvas-container" style="text-align: center;">
                    <canvas id="canvas" width="600px" height="400px"></canvas>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>


    <script type="text/javascript" th:inline="javascript">
        // var WEB_SERVICE_URL = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;
        // $('.btn')
        //     .api({
        //         action: WEB_SERVICE_URL + '/detail/{id}'
        //     })
        //     ;
        function clickable(element) {
            if (element == 1) {
                var ele = document.getElementById("firstPage");
                ele.setAttribute("class", "active");
                ele = document.getElementById("blog");
                ele.setAttribute("class", "hidden");
                ele = document.getElementById("type");
                ele.setAttribute("class", "hidden");

                ele = document.getElementById("recommendPage");
                ele.setAttribute("class", "show");
                ele = document.getElementById("blogPage");
                ele.setAttribute("class", "unshow");
                ele = document.getElementById("typePage");
                ele.setAttribute("class", "unshow");
            }
            else if (element == 2) {
                var ele = document.getElementById("firstPage");
                ele.setAttribute("class", "hidden");
                ele = document.getElementById("blog");
                ele.setAttribute("class", "active");
                ele = document.getElementById("type");
                ele.setAttribute("class", "hidden");

                ele = document.getElementById("recommendPage");
                ele.setAttribute("class", "unshow");
                ele = document.getElementById("blogPage");
                ele.setAttribute("class", "show");
                ele = document.getElementById("typePage");
                ele.setAttribute("class", "unshow");
            }
            else {
                var ele = document.getElementById("firstPage");
                ele.setAttribute("class", "hidden");
                ele = document.getElementById("blog");
                ele.setAttribute("class", "hidden");
                ele = document.getElementById("type");
                ele.setAttribute("class", "active");

                ele = document.getElementById("recommendPage");
                ele.setAttribute("class", "unshow");
                ele = document.getElementById("blogPage");
                ele.setAttribute("class", "unshow");
                ele = document.getElementById("typePage");
                ele.setAttribute("class", "show");
            }


        }
        var list = new Array();
        var typelist = [[${typeList}]];
        var len = typelist.length;
        for(var i = 0; i<len; i++){
            var tempList = new Array();
            tempList.push(typelist[i]['typeName']);
            tempList.push(typelist[i]['count']);
            list.push(tempList);
            // console.log(temp.typeName);
        }
        console.log(typelist);
        var options = eval({
            "list": list,
            "gridSize": 16, // size of the grid in pixels
            "weightFactor": 10, // number to multiply for size of each word in the list
            "fontWeight": 'normal', // 'normal', 'bold' or a callback
            "fontFamily": 'Times, serif', // font to use
            "color": 'random-dark', // 'random-dark' or 'random-light'
            "rotateRatio": 1 // probability for the word to rotate. 1 means always rotate
        });
        var canvas = document.getElementById('canvas');
        WordCloud(canvas, options);

    </script>
</body>

</html>